.btn-blue {
	background-color: #E7CCCC;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: "Afacad Flux", sans-serif;
}

.btn-blue:hover {
	background-color: #EDE8DC;
	color : #E7CCCC;
}